@model City

<tr>
    <td>@Model.CityId</td>
    <td>@Model.Name</td>
    
    <td>@Model.Country.Name</td>

     <td><a asp-controller="Cities" asp-action="DeleteCity" asp-route-id="@Model.CityId">Delete</a></td>
</tr>

          
   