@model CreatePersonViewModel

@{
    ViewData["Title"] = "Creat";
}

<h1>Creat</h1>

<form asp-action="Create" asp-controller="Peoples" method="post">
    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>
    <p></p>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <p></p>
    <label asp-for="TeleNumber"></label>
    <input asp-for="TeleNumber" />
    <span asp-validation-for="TeleNumber"></span>
    <p></p>
    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>

@*@foreach (var item in PeopleViewModel.PeopleList)
{
    @await Html.PartialAsync("_People", item);
}*@




