@model CreatePersonViewModel

@{
    ViewData["Title"] = "Creat";
}

<h2>Creat a new person!</h2>
@using (Html.BeginForm())
{
<form class="form-horizontal" asp-action="Create" asp-controller="Peoples" method="post">
    <label style="font-size:20px">Please input information of the new person.</label>
    <p></p>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" type="text" name="Name" value="" />
    </div>

    <div class="form-group">
        <label for="CityId">City:</label>
        <select class="form-select" name="CityId" asp-items="ViewBag.Cities"> </select>
    </div>

    <div class="form-group">
        <label for="LanguageIds">Languages:</label>
        <select class="form-select" name="LanguageId" asp-items="ViewBag.Languages"> </select>
    </div>

    <div class="form-group">
        <label for="PhoneNr">Phonenumber:</label>
        <input class="form-control" type="text" name="telephone" value="" />
    </div>

    <button class="btn-primary" type="submit">Create</button>
    <button class="badge-danger" type="reset">Reset</button>
</form>
 
}







