
@model PeopleViewModel;
@{
}
<div class="row" id="headers">
    
    <p>Vame</p>
    <p>City</p>
    <p>TeleNumber</p>  
   
</div>

@if(Model != null){

    
    @foreach(var p in Model.people)
     {
        <partial name="PersonView.cshtml" model="@p" />
     }

}
