@model People_MVC.Models.City


@{ ViewData["Title"] = "City Index"; }

<h1>Welcome to City's table</h1>

<form>
    <label><a asp-action="Create">Create a new city's record!</a> </label>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Telephone Number</th>
            <th scope="col">Languages</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>
@foreach (var item in Model.Name)
{@*@await Html.PartialAsync("_ShowAll", item);*@
                <partial name="_City.cshtml" model="item" />}
