@model People_MVC.Models.ViewModel.PeopleViewModel;
@{
    ViewData["Title"] = "People Index";
}

<h2>Welcome to People's SPA!</h2>

<form asp-controller="React" asp-action="Index" method="get" class="p-0">
    <label style="font-size:20px" class="col-4">Please input something to search</label>
    <input asp-for="Search" class="col-4" name="Search" type="text" value="" />
    <input type="submit" class="btn btn-secondary" value="Search">
</form>
<hr />

<div class="container">
    <div class="row">
        <div class="col-9" id="show-div">
            <h4>The table of the person's records! </h4>
            
            <div class="row border border-2 py-2">
                <div class="col-md-1">PersonId</div>
                <div class="col-md-2">
                    Name
                    <a asp-controller="React" asp-action="Sort" id="">&nbsp;&#11014;&nbsp;</a>
                    <label>&nbsp;&#11015;&nbsp;</label>
                </div>
                <div class="col-md-2">TeleNumber</div>
                <div class="col-md-2">City</div>
                <div class="col-md-1">Country</div>
                <div class="col-md-2">PersonLanguages</div>
                <div class="col-md-2">Action</div>
                
            </div>
                <div>
                    @foreach (Person person in Model.People)
                    {
                        <partial name="_People.cshtml" model="person" />
                    }
                  

                </div>

            </div>

        <div class="col-3">
            <div id="create-div">
                <h4>Create a new person's record!</h4>
                <form asp-controller="React" asp-action="Create" method="post" id="create-form" class="p-0">
                    <p>
                        <label>Name:</label>
                        <span asp-validation-for="Person.Name" class="text-danger"></span>
                        <input asp-for="Person.Name" id="name" placeholder="Enter name" class="me-3" />
                    
                        <label>Phone:</label>
                        <span asp-validation-for="Person.TeleNumber" class="text-danger"></span>
                        <input asp-for="Person.TeleNumber" id="phone" placeholder="Enter phone number" class="me-3" /><br />
                    </p>
                    <label>City:</label>
                    <select asp-for="Person.City" asp-items="ViewBag.Cities" id="addCity">
                        @foreach (City item in Model.Cities)
                        {
                            <option value="@item.CityId">@item.Name</option>
                        }
                    </select>
                    <br />

                    <label>Language:</label>
                    <select name="languages" asp-items="ViewBag.Languages">
                        <option value="" selected>Select Languages</option>
                        @foreach (Language item in Model.Languages)
                        {
                            <option value="@item.LanguageId">@item.Name</option>
                        }
                    </select>
                    <br />
                    <input type="submit" class="btn-primary" value="Create">
                    <input type="button" class="btn-primary" value="Reset" id="reset" onclick="Clear()">
                </form>
            </div>
            <hr/>
            <div id="edit-div">
                <h4>Edit the person's record! </h4>
                <form asp-controller="React" asp-action="Edit" method="post" id="edit-form" class="p-0">
                    <p>
                        <label>Name:</label>
                        <input id="editID" name="id" type="hidden" />
                        <span asp-validation-for="EditPerson.Name" class="text-danger"></span>
                        <input asp-for="EditPerson.Name" id="editName" name="name" class="me-3" placeholder="Enter name" /><br />
                    
                        <label>Phone:</label>
                        <span asp-validation-for="EditPerson.TeleNumber"class="text-danger"></span>
                        <input asp-for="EditPerson.TeleNumber" id="editPhoneNumber" name="phoneNumber" class="me-3" placeholder="Enter phonenumber" /><br />
                    </p>
                    <label>City:</label>
                    <select asp-for="EditPerson.City" asp-items="ViewBag.Cities" id="editCity" name="city" placeholder="Select"></select>
                    <br />                    
                    <label>Language:(only first language)</label>
                    <select  name="languages" id="editLanguages" asp-items="ViewBag.Languages"> </select>
                    <br />
                    <input type="submit" class="btn-primary" id="edit-btn" value="Save" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/JavaScript.js"></script>
